* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f5f5f5c5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.contenedor {
    width: 700px;
    min-height: 500px;
    background-color: white;
    padding: 40px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

input {
    width: 80%;
    height: 50px;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    border: 4px solid #404040;
    border-radius: 10px;
}

button {
    width: 150px;
    height: 60px;
    padding: 10px;
    color: white;
    background-color: blue;   
    font-size: 22px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

#lista-de-tareas {
    width: 80%;
    margin-top: 20px;
    
}

.tarea{
    width: 100%;
    min-width: 70px;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #404040;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}